:root,
:host {
  --pico-font-family: 'EB Garamond', 'Garamond', serif;
  --pico-font-size: 160%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-family: 'Jost', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
nav,
hgroup > p {
  font-family: 'Jost', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(60, 113, 247, 1) 0%,
    rgba(60, 113, 247, 1) 1%,
    rgba(255, 255, 255, 1) 1%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    body {
      background: linear-gradient(
        90deg,
        rgba(142, 157, 249, 1) 0%,
        rgba(142, 157, 249, 1) 1%,
        rgba(19, 22.5, 30.5, 1) 1%,
        rgba(19, 22.5, 30.5, 1) 100%
      );
      min-height: 100vh;
    }
  }
}
